/*variables du projet 3*/
/*mixins du projet 3*/
@-webkit-keyframes endloading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes endloading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

body {
  width: 100%;
  min-width: 320px;
  max-width: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

header {
  width: 100%;
  min-width: 320px;
  max-width: none;
  text-align: center;
}

header #logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

header .form-heading {
  font-family: 'Roboto', sans-serif;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #f1f1f1;
  height: 250px;
  margin-top: 0px;
  width: 100%;
  min-width: 320px;
  max-width: none;
}

header .form-heading .location-search {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 2px solid #e4e4e4;
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .form-heading .location-search .fas {
  margin-left: 30px;
  margin-right: 20px;
}

header .form-heading .location-search .location-search-field {
  border: none;
  background-color: #e4e4e4;
  font: 15px 'Roboto';
  line-height: 30px;
  color: black;
}

header .form-heading .description {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .form-heading .btn {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header .form-heading .btn .btn-explore {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: 200px;
  height: 40px;
  font: 15px 'Roboto';
  color: white;
  border: none;
  border-radius: 20px/20px;
}

header h1 {
  font: 21px 'Roboto';
  font-weight: 900;
  width: 250px;
}

header p {
  font: 15px 'Roboto';
  width: 300px;
}

.loading {
  position: fixed;
  z-index: 99;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: endloading 3s forwards;
          animation: endloading 3s forwards;
}

#loader {
  font-size: 18em;
  -webkit-animation: fa-spin 2s steps(8) infinite;
          animation: fa-spin 2s steps(8) infinite;
}

.loading-anim__logo {
  font: 20px 'shrikhand';
  color: white;
  font-weight: 900;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-spinner::before {
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
}

.loading-anim__logo p {
  font: 20px 'shrikhand';
  color: white;
  font-weight: 900;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-adjust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
  border: hotpink;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-adjust .fa-utensils {
  position: relative;
  top: 20%;
  left: -21%;
}

.logo-adjust .fa-utensil-spoon {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.logo-adjust .fa-mug-hot {
  position: relative;
  top: 20%;
  left: 21%;
}

.fonctionnement {
  width: 90%;
  max-width: 350px;
  margin: auto;
  height: 350px;
  margin-top: 20px;
}

.fonctionnement-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fonctionnement-btn {
  position: relative;
  width: 100%;
  height: 4.5rem;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
  background-color: #F6F6F6;
  -webkit-box-shadow: 2px 2px 14px #aaaaaa;
          box-shadow: 2px 2px 14px #aaaaaa;
}

.fonctionnement-btn:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

.fonctionnement-btn:hover .fonctionnement-btn__icone {
  color: #9356DC;
}

h2 {
  font: 21px 'Roboto';
  font-weight: 900;
  width: 250px;
  margin: 0px;
  padding-bottom: 20px;
}

#fonctionnement-btn__number1 {
  background-color: #9356DC;
  position: relative;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.3rem;
  font: 1em 'Roboto';
  border-radius: 50%;
  padding-top: 0.15rem;
  margin-left: -0.7rem;
  text-align: center;
}

#fonctionnement-btn__number2 {
  background-color: #9356DC;
  position: relative;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.3rem;
  font: 1em 'Roboto';
  border-radius: 50%;
  padding-top: 0.15rem;
  margin-left: -0.7rem;
  text-align: center;
}

#fonctionnement-btn__number3 {
  background-color: #9356DC;
  position: relative;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.3rem;
  font: 1em 'Roboto';
  border-radius: 50%;
  padding-top: 0.15rem;
  margin-left: -0.7rem;
  text-align: center;
}

#fonctionnement-btn__text1 {
  font: 1.1em 'Roboto';
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  vertical-align: middle;
  position: relative;
  width: 13rem;
  height: 1.5rem;
  padding-top: 0.4rem;
  margin-left: 0.5rem;
  text-align: start;
}

#fonctionnement-btn__text2 {
  font: 1.1em 'Roboto';
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  vertical-align: middle;
  position: relative;
  width: 13rem;
  height: 1.5rem;
  padding-top: 0.4rem;
  margin-left: 0.5rem;
  text-align: start;
}

#fonctionnement-btn__text3 {
  font: 1.1em 'Roboto';
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  vertical-align: middle;
  position: relative;
  width: 13rem;
  height: 1.5rem;
  padding-top: 0.4rem;
  margin-left: 0.5rem;
  text-align: start;
}

.fonctionnement-btn__icone {
  color: grey;
}

.restaurants {
  padding: 1.5rem 0 3rem;
  background-color: #F6F6F6;
}

.restaurants h2 {
  width: 90%;
  margin: 1rem auto;
  max-width: 22rem;
  padding-bottom: 0px;
}

.restaurants .restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choixrestau {
  position: relative;
  width: 90%;
  min-width: 270px;
  max-width: 350px;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px #aaaaaa;
          box-shadow: 2px 2px 10px #aaaaaa;
}

figure {
  width: 100%;
  min-width: 270px;
  margin: 0px;
  max-width: 350px;
  height: 240px;
}

figure figcaption {
  position: absolute;
  background-color: white;
  width: 94%;
  padding: 3%;
  height: 50px;
  text-decoration: none;
  color: black;
  font: 17px 'Roboto';
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figure figcaption .restaurant-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 23px;
}

.restaurant_nouveau {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  width: 22%;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  font: 0.8rem 'Roboto';
  font-weight: 500;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.restaurant_nouveau p {
  margin: 6px;
}

.restaurant-info__heart::before {
  cursor: pointer;
  position: absolute;
  font-weight: 400;
  font-size: 1.7rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.restaurant-info__heart:hover {
  cursor: pointer;
  position: absolute;
  content: "\f004";
  font-family: "Font Awesome 5 empty";
  font-size: 1.7rem;
  font-weight: 900;
  font-size: 1.7rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-transition: opacity 800ms ease-in-out;
  transition: opacity 800ms ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
}

footer {
  background-color: #444444;
  color: white;
  padding-top: 1.4rem;
  width: 100%;
}

footer div {
  width: 90%;
  max-width: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h3 {
  font: 1.5rem 'Shrikhand';
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-decoration: none;
  font: 1em 'Roboto';
  color: white;
}

li {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  font: 1em 'Roboto';
  color: white;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .blocmenu {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  padding-bottom: 4rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .blocmenu .blocmenu-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 90%;
  max-width: 350px;
  padding-top: 20px;
}

.menu .blocmenu .blocmenu-head h2 {
  font-family: 'Shrikhand';
}

.menu .blocmenu .blocmenu-menu {
  width: 90%;
  max-width: 350px;
}

.menu .blocmenu .blocmenu-menu h4 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 300;
  line-height: 20px;
  -webkit-text-decoration: underline 3px solid #99E2D0;
          text-decoration: underline 3px solid #99E2D0;
}

.menu .blocmenu .blocmenu-menu .plat {
  position: relative;
  font-family: 'Roboto';
  width: 100%;
  height: 4.5rem;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
  background-color: #F6F6F6;
  -webkit-box-shadow: 2px 2px 14px #aaaaaa;
          box-shadow: 2px 2px 14px #aaaaaa;
}

.menu .blocmenu .blocmenu-menu .plat .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  line-height: 22px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-overflow: ellipsis;
}

.menu .blocmenu .blocmenu-menu .plat .prix {
  font-weight: bold;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  position: relative;
  top: 35px;
  right: 20px;
}

.btn-command {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: 200px;
  margin-top: 50px;
  height: 40px;
  font: 15px 'Roboto';
  color: white;
  border: none;
  border-radius: 20px/20px;
}

.backhome {
  border: none;
  background-color: white;
}

.fa-arrow-left {
  position: relative;
  top: -20px;
  left: -25px;
  font-size: 21px;
}

/*images du projet 3*/
#logo {
  width: 50%;
  min-width: 200px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.restaurant-img {
  width: 100%;
  min-width: 270px;
  max-width: 350px;
  height: 240px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -4rem;
     object-position: 0 -4rem;
}

#note {
  -o-object-position: bottom;
     object-position: bottom;
  overflow: hidden;
}

.restaurant-img__menu {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
/*# sourceMappingURL=style.css.map */