#backhome
{
    border: none;
    background-color: white;
    position: relative;
    top: -22px;
    left: -40px;
    font-size: 22px;
}

.fa-heart
{
    font-size: 25px;
}

.btn
{
    font-family: 'Roboto', sans-serif;
    text-align: center;

    & #btn-explore
    {
        background: linear-gradient(to bottom, $colorsecondary, $colorprimary);
        width: 200px;
        height: 40px;
        font: 15px 'Roboto';
        color: white;
        border: none;
        border-radius: 20px/20px;
        box-shadow: 2px 2px 10px #aaaaaa;

        &:hover
        {
            box-shadow: 2px 2px 10px darken(#aaaaaa, 30%);
            background: linear-gradient(to bottom, $seclight, $primlight);
        }
    }   
}

.btn-command
{
    background: linear-gradient(to bottom, $colorsecondary, $colorprimary);
    width: 200px;
    margin-top: 50px;
    height: 40px;
    font: 15px 'Roboto';
    color: white;
    border: none;
    border-radius: 20px/20px;
    box-shadow: 2px 2px 10px #aaaaaa;
    

    &:hover
    {
        box-shadow: 2px 2px 10px darken(#aaaaaa, 30%);
        background: linear-gradient(to bottom, $seclight, $primlight);
    }
}  

.check
{
    border-radius: 0 20px 20px 0;
    position: absolute;
    z-index: -1;
    right: 0rem;
    height: 100%;
    width: 0;
    text-align: center;
    background-color: $colortertiary;
    

    & .fa-check-circle
    {   
        color: transparent;
        z-index: 0;
        font-size: 1.7rem;
        margin-top: 1.4rem;
    }
}

    