#backhome
{
    border: none;
    background-color: white;
    position: relative;
    top: -22px;
    left: -40px;
    font-size: 22px;
}

.btn
{
    font-family: 'Roboto', sans-serif;
    text-align: center;

    & #btn-explore
    {
        background: linear-gradient(to bottom, $colorsecondary, $colorprimary);
        width: 200px;
        height: 40px;
        font: 15px 'Roboto';
        color: white;
        border: none;
        border-radius: 20px/20px;
        box-shadow: 2px 2px 10px #aaaaaa;

        &:hover
        {
            box-shadow: 2px 2px 10px darken(#aaaaaa, 30%);
            background: linear-gradient(to bottom, $seclight, $primlight);
        }
    }   
}

.btn-command
{
    background: linear-gradient(to bottom, $colorsecondary, $colorprimary);
    width: 200px;
    margin-top: 50px;
    height: 40px;
    font: 15px 'Roboto';
    color: white;
    border: none;
    border-radius: 20px/20px;
    box-shadow: 2px 2px 10px #aaaaaa;
    

    &:hover
    {
        box-shadow: 2px 2px 10px darken(#aaaaaa, 30%);
        background: linear-gradient(to bottom, $seclight, $primlight);
    }
}  

.check
{
    border-radius: 0 20px 20px 0;
    position: absolute;
    right: 0rem;
    height: 100%;
    width: 0;
    text-align: center;
    background-color: $colortertiary;
    

    & .fa-check-circle
    {   
        color: transparent;
        font-size: 1.7rem;
        margin-top: 1.4rem;
    }
}

.plat
{
    & .nom_cut
    {
        z-index: 0;
    }
    & .prix
    {
        z-index: 0;
    }
    & .check
    {   
        z-index: 0;
    }
    & .fa-check-circle
    {
        color: transparent;
        transform: rotate(180deg);
    }
    &:hover
    {  
        & .nom_cut
        {
            z-index: 0;
            animation: reduction 400ms ease-in-out forwards;
        }
        & .prix
        {
            z-index: 0;
            transform-origin: right;
            transform: translateX(-4rem);
            transition: transform 500ms ease-in-out;
        }
        & .check
        {   
            z-index: 0;
            animation: apparition 400ms ease-in-out forwards;
        }
        & .fa-check-circle
        {
            z-index: 0;
            color: white;
            transform: rotate(360deg);
            transition: transform 600ms both;
            animation: spin 600ms linear infinite paused; 
            animation-play-state: running;  
            transition: transform 500ms linear 0ms;
            
        }
    }
}

    