/*images du projet 3*/

#logo
    {
        width: 50%;
        min-width: 200px;
        height: 60px;
        object-fit: contain;
    }
.restaurant-img
    {
        width: 100%;
        min-width: 200px;
        max-width: 450px;
        height: 200px;
        border-radius: 20px;
        object-fit: cover;
        object-position: 0 -4rem;
    }    
