/*images du projet 3*/

#logo /*format du logo ohmyfood*/
    {
        width: 50%;
        min-width: 200px;
        height: 60px;
        object-fit: contain;
    }
.restaurant-img /*image des vignettes restaurants de l'accueil*/
    {
        width: 100%;
        min-width: 270px;
        max-width: 350px;
        height: 240px;
        border-radius: 20px;
        object-fit: cover;
        object-position: 0 -4rem;
    }  
#note /*particularités de l'image du restau la note enchantée*/
    {
        object-position: 0 -10rem;
        overflow: hidden;
        @media screen and (max-width:350px)
        {
            object-position: 0 -8rem;
        }
    }   

.restaurant-img__menu /*format des images en haut des pages menu*/
    {
        width: 100%;
        height: 230px;
        object-fit: cover;
        z-index: 0;
        
        @media screen and (min-width: 760px) and (max-width:1023px) 
        {
            height: 350px;
        }
        
        @media screen and (min-width: 1024px) and (max-width:1439px)
        {
            height: 450px;
        }
        @media screen and (min-width: 1440px) 
        {
            height: 520px;
        }
    } 

.restaurant-img__menu__note /*particularités du format de l'image en haut de la page du restau la note enchantée*/
{
    width: 100%;
    height: 230px;
    object-fit: cover;
    z-index: 0;
    @media screen and (min-width: 760px) and (max-width:1023px) 
        {
            height: 350px;
            object-position: 0 -250px;
        }
        
    @media screen and (min-width: 1024px) and (max-width:1439px)
        {
            height: 450px;
            object-position: 0 -300px;
        }
     @media screen and (min-width: 1440px) and (max-width: 1800px)
        {
            height: 550px;
            object-position: 0 -500px;
        }
    @media screen and (min-width: 1801px)
        {
            height: 650px;
            object-position: 0 -700px;
        }
    
}

