/*keyframes du loading spinner*/ 

@keyframes endloading
{
    0% 
    { 
        opacity: 1;
        background-color: white;
    }
    90%
    {
        opacity: 1;
        background-color: white;
    }
    100%
    {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fa-spin
{
    0% 
    { 
        background-color: white;
    }
    100%
    {   
        background-color: white;
        opacity: 0;
        visibility: hidden;
    }

}

/*keyframes du coeur*/
@keyframes heartcolor
{
    0% {
        opacity: 0;
        background-color: white;
    }
    15% {
        opacity: 0.2;
        background: linear-gradient($primlight, $seclight);
    }
    30% {
        opacity: 0.4;
        background: linear-gradient($primlight, $seclight);
    }
    45% {
        opacity: 0.6;
        background: linear-gradient($primlight, $seclight);
    }
    75% {
        opacity: 0.8;
        background: linear-gradient($primlight, $colorsecondary);
    }
    100% {
        opacity: 1;
        background: linear-gradient($colorprimary, $colorsecondary);
    }
}

/*keyframes du check*/
@keyframes apparition
{
    0% 
    {
        width: 0rem;
    }

    100% 
    {
        width: 5rem;
    }
}

/*keyframes des menus*/

@keyframes fadein 
{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
