/*keyframes du loading spinner*/ 

@keyframes endloading
{
    0% 
    { 
        opacity: 1;
        background-color: white;
    }
    90%
    {
        opacity: 1;
        background-color: white;
    }
    100%
    {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes spin
{
    from 
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(360deg);
    } 

}

/*keyframes du coeur*/
@keyframes heartcolor
{   
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
    /*0% {
        opacity: 0;
        color: white;
    }
    15% {
        opacity: 0.2;
        color: linear-gradient($primlight, $seclight);
    }
    30% {
        opacity: 0.4;
        color: linear-gradient($primlight, $seclight);
    }
    45% {
        opacity: 0.6;
        color: linear-gradient($primlight, $seclight);
    }
    75% {
        opacity: 0.8;
        color: linear-gradient($primlight, $colorsecondary);
    }
    100% {
        opacity: 1;
        color: linear-gradient($colorprimary, $colorsecondary);
    }*/
}

/*keyframes du check*/
@keyframes apparition
{
    0% 
    {
        width: 0rem;
    }

    100% 
    {
        width: 5rem;
    }
}
@keyframes reduction
{
    0% 
    {
        flex-shrink: initial;
    }

    100% 
    {
        flex-shrink: inherit;
    }
}

/*keyframes des menus*/

@keyframes fadein 
{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
