/*keyframes du loading spinner*/ 

@keyframes endloading
{
    0% 
    { 
        opacity: 1;
        background-color: white;
    }
    90%
    {
        opacity: 1;
        background-color: white;
    }
    100%
    {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes checkrotation
{
    from 
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(360deg);
    } 

}

/*keyframes du coeur*/
@keyframes heartcolor
{   
    0% {
        opacity: 0;
        color: white;
    }
    15% {
        opacity: 0.2;
        color: linear-gradient(to left, $primlight, white);
    }
    30% {
        opacity: 0.4;
        color: linear-gradient(to left, $primlight, white);
    }
    45% {
        opacity: 0.6;
        color: linear-gradient(to left, $primlight, $seclight);
    }
    75% {
        opacity: 0.8;
        color: linear-gradient(to left, $colorprimary, $seclight);
    }
    100% {
        opacity: 1;
        color: linear-gradient(to left, $colorprimary, $colorsecondary);
    }
}
@keyframes heartborder
{
    0%
    {
        opacity: 1;
    }
    1%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}

/*keyframes du check*/
@keyframes apparition
{
    0% 
    {
        width: 0rem;
    }

    100% 
    {
        width: 4rem;
    }
}
@keyframes reduction
{ 
    0% 
    {
        width: 100%;
    }

    100% 
    {
        width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/*keyframes des menus*/

@keyframes fadein 
{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
