/*mixins du projet 3*/

@mixin fullscreen
{
    width: 100%;
    min-width: 320px;
    max-width: none;
} 
@mixin flexcol 
{
    display: flex;
    flex-direction: column;
}
@mixin flexrow 
{
    display: flex;
    flex-direction: row;
}
@mixin center
{
    justify-content: center;
    align-items: center;
}

@mixin gridfct
{
    .fonctionnement-btn__one 
    {
        grid-area: one;
    }

    .fonctionnement-btn__two 
    {
        grid-area: two;
    }
    .fonctionnement-btn__three
    {
        grid-area: three;
    }
    display: grid;
    grid-template-areas: "one" "two" "three";
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px;
    grid-row-gap: 20px;
    padding-bottom: 0px;
    height: 250px;
}
@mixin gridfctbtn
{
    .fa-stack-1x 
    {
        grid-area: one;
    }

    .fa-mobile-alt 
    {
        grid-area: two;
    }
    .text
    {
        grid-area: three;
    }
    display: grid;
    grid-template-areas: "one two three";
    grid-template-columns: 0.2fr 0.2fr 0.6fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    padding-bottom: 0px;
    height: 50px;
}
@mixin loadposition 
{
    font: 20px 'shrikhand';
    color: white;
    font-weight: 900;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 95%;
    display: flex;
    @include center;
}