
.fonctionnement
    {
        width: 90%;
        max-width: 350px;
        margin: auto;
        height: 350px;
        margin-top: 20px;
    }
.fonctionnement-buttons
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
.fonctionnement-btn   
    {
        position: relative;
        width: 100%;
        height: 4.5rem;
        border-radius: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.2rem;
        background-color: #F6F6F6;
        box-shadow: 2px 2px 14px #aaaaaa; 
        
        &:hover
        {
            background-color: rgba(147, 86, 220, 0.2);
            
            & .fonctionnement-btn__icone 
            {
                color: #9356DC;
            }
        }
    }
h2
    {
        font: 21px 'Roboto';
        font-weight: 900;
        width: 250px;
        margin: 0px;
        padding-bottom: 20px;
    }
#fonctionnement-btn__number1 
{
    @include numberposition;
}
#fonctionnement-btn__number2 
{
    @include numberposition;
}
#fonctionnement-btn__number3
{
    @include numberposition;
}
#fonctionnement-btn__text1 
{
    @include textposition;
}
#fonctionnement-btn__text2 
{
    @include textposition;
}
#fonctionnement-btn__text3
{
    @include textposition;
}
.fonctionnement-btn__icone 
{
    color: grey;
}