/*organisation du footer*/
footer 
{
    background-color: #444444;
    color: white;
    padding-top: 1.4rem;
    width: 100%;
    
    & div /*format*/
    {   
        width: 90%;
        max-width: 350px;
        margin: auto;
        @include flexcol; 
        @media screen and (min-width:760px) 
        {
            align-items: center;
        }
    }
}
h3 /*titre du footer*/
{
    font: 1.5rem 'Shrikhand';
}

ul /*organisation de la liste*/
{
    list-style-type: none;
    padding-left: 0; 
    text-decoration: none;
    font: 1em $police1;
    color: white;
    @media screen and (min-width:760px) 
    {
        text-align: center;    
    }
}
li /*espace entre les éléments de la liste*/
{
    padding-bottom: 1rem;
}
a /*format des liens*/
{
    text-decoration: none;
    font: 1em $police1;
    color: white;
}
