footer 
{
    background-color: #444444;
    color: white;
    padding-top: 1.4rem;
    width: 100%;
    
    & div
    {   
        width: 90%;
        max-width: 350px;
        margin: auto;
        display: flex;
        flex-direction: column; 
        @media screen and (min-width:760px) 
        {
            align-items: center;
        }
    }
}
h3
{
    font: 1.5rem 'Shrikhand';
}

ul 
{
    list-style-type: none;
    padding-left: 0; 
    text-decoration: none;
    font: 1em 'Roboto';
    color: white;
    @media screen and (min-width:760px) 
    {
        text-align: center;    
    }
}
li
{
    padding-bottom: 1rem;
}
a 
{
    text-decoration: none;
    font: 1em 'Roboto';
    color: white;
}
