header
    {
        @include fullscreen;
        text-align: center;

    & #logo
        {
            justify-self: center;
        }

    & .form-heading
        {
            font-family: 'Roboto', sans-serif;
            justify-self: center;
            background-color: $colorgrey1;
            height: 250px;
            margin-top: 0px;
            @include fullscreen;

            & .location-search
            {
                border-left: none;
                border-right: none;
                border-bottom: none;
                border-top: 2px solid $colorgrey2;
                background-color:$colorgrey2;
                @include flexrow;
                @include center;

                & .fas
                {
                    margin-left: 30px;
                    margin-right: 20px;
                }
                & .location-search-field
                {
                    border: none;
                    background-color: $colorgrey2;
                    font: 15px 'Roboto';
                    line-height: 30px;
                    color: black;
                }
            }

            & .description
            {
                text-align: center; 
                @include flexcol;
                @include center;  
            }
        }        
    & h1 
        {
            font: 21px 'Roboto';
            font-weight: 900;
            width: 250px;
        }
    & p  
        {
            font: 15px 'Roboto';
            width: 300px;
        }
    }