/*réglages du loading spinner*/

.loading /*champs*/
    {
        position: fixed;
        z-index: 1;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        @include center;
        animation: endloading 2s forwards;
    }
#loader /*point qui tourne dans le sens des aiguilles*/
    {
        font-size: 18em;
        animation: fa-spin 1s steps(8) infinite;
        background-color: white; 
    }
.loading-anim__logo /*ohmyfood au centre du loading spinner + couverts autour*/
{ 
    @include loadposition;
}
.fa-spinner::before /*design du loading spinner*/
    {   
        border-radius: 50%;
        background: linear-gradient(to bottom, $colorsecondary, $colorprimary);
        color: white;
    }
.loading-anim__logo p /*ohmyfood au centre du loading spinner*/
    {
        @include loadposition;
    }
.logo-adjust /*format et position des couverts*/
{   
    display: flex;
    width: 300px;
    height: 300px;
    border: hotpink;
    @include center;
    .fa-utensils
    {
      position: relative;
      top: 20%;
      left:-21%;
    }
    .fa-utensil-spoon
    {
       align-self: baseline;
    }
    .fa-mug-hot
    {
        position: relative;
        top: 20%;
        left: 21%;
    }
}
