/*organisation des menus dans les pages des restaurants*/
.menu
    {
        width: 100%;
        @include flexcol;
        align-items: center;
        
        & .blocmenu /*nom du restau+menu*/
        {   
            width: 100%;
            background-color: #F6F6F6;
            border-radius: 30px 30px 0 0;
            margin-top: -50px;
            padding-bottom: 4rem;
            z-index: 1;
            @include flexcol;
            align-items: center;
            align-content: center;

            & .blocmenu-head /*nom du restau+coeur*/
            {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                width: 90%;
                max-width: 400px;
                padding-top: 20px;

                & h2/*nom du restau*/
                {
                    font: 25px $police2;
                }
                & .coeurbord /*coeur avant hover non coloré*/
                {
                    font-size: 25px;
                    font-style: normal;
                    color: black;
                    position: absolute;
                    &:hover
                    {
                        font-size: 0px;
                        color: white;
                        z-index: -2;
                        animation: heartborder 0.2s ease forwards;
                    }
                }
                & .coeurcolor /*coeur après hover coloré*/
                {
                    font-size: 25px;
                    font-style: normal;
                    background: white;
                    background-clip: inherit;
                    -webkit-background-clip: text;
                    color: transparent;
                    
                    &:hover
                    {
                        font-size: 25px;
                        font-style: normal ;
                        background: linear-gradient(225deg,$colorprimary, $colorsecondary, $primlight, $seclight);
                        background-size: 100% 100%;
                        background-clip: inherit;
                        -webkit-background-clip: text;
                        color: transparent;
                        animation: heartcolor 1s ease forwards;
                    }  
                }
            }
            & .blocmenu-sanstitre /*organisation du menu sans nom du restau*/
            {   
                width: 100%;
                max-width: 600px;
                min-width: 320px;
                @include flexcol;
                align-items: center;

                @media screen and (min-width: 1024px) 
                {
                    @include flexrow;
                    width: 90%;
                    max-width: none;
                    padding-top: 20px;
                    align-items: flex-start;
                }
                & .blocmenu-menu /*entrées+plats+desserts*/
                {
                width: 90%;
                max-width:400px;
                @include flexcol;
                align-items: baseline;
                
                @media screen and (min-width: 1024px) /*entrées+plats+desserts ecran ordi*/
                    {
                        @include flexcol;
                        width: 100%;
                        max-width: none;
                        align-items: baseline;
                        margin-right: 15px;
                        padding-top: 20px;
                    }
                    & h4 /*titres entrées plats et desserts*/
                    {   
                        margin-right: 20px;
                        font-family: $police1;
                        text-transform: uppercase;
                        font-weight: 300;
                        padding-bottom: 5px;
                        border-bottom: 3px solid $colortertiary;
                        box-sizing: border-box;
                        width: 45px;
                    }
                    & .plat /*vignette de plats proposés*/
                    {
                        position: relative;
                        font-family: $police1;
                        width: 100%;
                        max-width: 400px;
                        height: 4.5rem;
                        border-radius: 25px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 1.2rem;
                        background-color: #F6F6F6;
                        box-shadow: 2px 2px 14px #aaaaaa; 
                        @media screen and (min-width: 1024px)
                            {
                                margin-bottom: 20px;
                            }
                        
                        & .nom /*description du plat*/
                        {
                            @include flexcol;
                            width: 80%;
                            min-width: 200px;
                            margin-left: 10px;
                            line-height: 22px;
                            & .nom_cut /*fonction pour le découpage de la description/nowrap+3...*/
                            {
                                @for $width from 0px to 300px 
                                {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    width: 99%;
                                }
                            } 
                        }
                        & .prix /*prix du plat*/
                        {
                            font-weight: bold;
                            align-self: baseline;
                            position: relative;
                            top: 35px;
                            right: 20px;
                        }
                    } 
            
                }
              
            }
        }
    }

/*animation d'affichage du menu*/
.blocmenu-menu-entrées
{
    animation: fadein 1s both;
    animation-delay: 0s;
}    
.blocmenu-menu-plats
{
    animation: fadein 1s both;
    animation-delay: 500ms;
}  
.blocmenu-menu-desserts
{
    animation: fadein 1s both;
    animation-delay: 1s;
}  

