.restaurants
    {
        padding: 1.5rem 0 3rem;
        background-color: #F6F6F6;

        @media screen and (min-width: 1024px) 
        {
            @include flexcol;
            align-items: center;   
        }
        & h2 
        {
            width: 90%;
            margin: 1rem auto;
            max-width: 22rem;
            padding-bottom: 0px;
        }
        & .restaurants__list
        {  
           display: flex;
           flex-direction: column;
           @media screen and (min-width: 1024px) 
           {        
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: 400px 400px;
                    grid-gap: 10px;
                    grid-template-rows: 300px 300px;
                    
                    &  .restaurant-pal 
                    {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    &  .restaurant-note 
                    {
                        grid-column: 2;
                        grid-row: 1;
                    }
                    &  .restaurant-fr 
                    {
                        grid-column: 1;
                        grid-row: 2;
                    }
                    & .restaurant-del 
                    {
                        grid-column: 2;
                        grid-row: 2;
                    }
           }

            & .restaurant
            {
                display: flex;
                flex-direction: column;
                align-items: center;
            } 
        }
        
    }
.choixrestau
{
    @include restauposition;
}
figure
{
    width: 100%;
    min-width: 270px;
    margin: 0px;
    max-width: 350px;
    height: 240px;

    & figcaption
    {
        position: absolute;
        background-color: white;
        width: 94%;
        padding: 3%;
        height: 50px;
        text-decoration: none;
        color: black;
        font: 17px 'Roboto';
        bottom: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .restaurant-info
        {
            display: flex;
            flex-direction: column; 
            line-height: 23px;
        }
    }
}

.restaurant_nouveau
{
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    width: 22%;
    background-color: #99E2D0;
    color: #278870;
    text-align: center;
    font: 0.8rem 'Roboto';
    font-weight: 500;
    padding-top: 0rem;
    padding-bottom: 0rem;
    & p
    {
        margin: 6px;
    }
}

.restaurant-info__heart::before
{
    cursor: pointer;
    position: absolute;
    font-weight: 400;
    font-size: 1.7rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.restaurant-info__heart:hover
{
    cursor: pointer;
    position: absolute;
    content: "\f004";
    font-family: "Font Awesome 5 empty";
    font-size: 1.7rem;
    font-weight: 900;
    font-size: 1.7rem;
    background: linear-gradient(#9356DC, #FF79DA);
    transition: opacity 800ms ease-in-out;
    transform-origin: bottom;
    opacity: 0;
}
