#restaurants
    {
        padding: 1.5rem 0 3rem;
        background-color: #F6F6F6;

        @media screen and (min-width: 1024px) 
        {
            @include flexcol;
            align-items: center;   
        }
        & h2 
        {
            width: 90%;
            margin: 1rem auto;
            max-width: 22rem;
            padding-bottom: 0px;
        }
        & .restaurants__list
        {  
           display: flex;
           flex-direction: column;
           @media screen and (min-width: 1024px) and (max-width: 1800px) 
           {        
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: 400px 400px;
                    grid-gap: 10px;
                    grid-template-rows: 300px 300px;
                    
                    &  .restaurant-pal 
                    {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    &  .restaurant-note 
                    {
                        grid-column: 2;
                        grid-row: 1;
                    }
                    &  .restaurant-fr 
                    {
                        grid-column: 1;
                        grid-row: 2;
                    }
                    & .restaurant-del 
                    {
                        grid-column: 2;
                        grid-row: 2;
                    }
           }
           @media screen and (min-width: 1801px) 
           {        
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 10px;
                    grid-template-rows: 300px;
                    
                    &  .restaurant-pal 
                    {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    &  .restaurant-note 
                    {
                        grid-column: 2;
                        grid-row: 1;
                    }
                    &  .restaurant-fr 
                    {
                        grid-column: 3;
                        grid-row: 1;
                    }
                    & .restaurant-del 
                    {
                        grid-column: 4;
                        grid-row: 1;
                    }
           }

            & .restaurant
            {
                @include flexcol;
                align-items: center;
            } 
        }
        
    }
.choixrestau
{
    @include restauposition;
}
figure
{
    width: 100%;
    min-width: 270px;
    margin: 0px;
    max-width: 350px;
    height: 240px;

    & .coeurbord
    {
        font-size: 25px;
        font-style: normal;
        color: black;
        position: absolute;
        &:hover
        {
            font-size: 0px;
            color: white;
            z-index: -2;
            animation: heartborder 0.2s ease forwards;
        }
    }
    & .coeurcolor
    {
        font-size: 25px;
        font-style: normal;
        background: white;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
        &:hover
        {
            font-size: 25px;
            font-style: normal ;
            background: linear-gradient(225deg,$colorprimary, $colorsecondary, $primlight, $seclight);
            background-size: 100% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            animation: heartcolor 2s ease forwards;
        }  

    }
    
    & figcaption
    {
        position: absolute;
        background-color: white;
        width: 94%;
        padding: 3%;
        height: 50px;
        text-decoration: none;
        color: black;
        font: 17px 'Roboto';
        bottom: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .restaurant-info
        {
            display: flex;
            flex-direction: column; 
            line-height: 23px;
        }
    }
}

.restaurant_nouveau
{
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    width: 22%;
    background-color: #99E2D0;
    color: #278870;
    text-align: center;
    font: 0.8rem 'Roboto';
    font-weight: 500;
    padding-top: 0rem;
    padding-bottom: 0rem;
    & p
    {
        margin: 6px;
    }
}



